html{
    /* 최소 폰트 10px */
    font-size: 22px;
}
/* ,로 여러 태그 한 번에 지정 */
table,
td,
th {
    border-collapse: collapse;
    
    border: 1px solid black;


    text-align: center;
    border-spacing: 10px;
    margin: 0 auto;
}

tr,
td {
    padding: 10px;
}

.tbl {}

/* table 공통 */

.browser-color {
    color: red;
}

.google-hex {
    color: #a52a2a;
    font-family: 'Oswald', sans-serif;
}

.google-rgb {
    color: rgb(0, 255, 0);
    font-family: 'Fuzzy Bubbles', cursive;
}

.google-rgba {
    /* 투명도 조절 */
    color: rgba(0, 0, 255, 0.4);
    font-family: 'Raleway', sans-serif;
}

.px-parent {
    /* 브라우저 기본 픽셀 */
    /* font-size: 16px; */
    font-size: 32px;
}

.px-child {
    font-size: 16px;
}

.em-parent {
    /* default*3 = 48px */
    font-size: 3em;
}

.em-child {
    /* 부모기준*0.5 = 24px */
    font-size: 0.5em;
}

.rem-parent {
    font-size: 3rem;
}

.rem-child {
    font-size: 0.5rem;
}